.app__container {
  display: flex;
}

.app__friends {
  background-color: #eae8e8;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.app__feed {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 20px 0;
}
